.Footer{
    background-color: #f2f2f2;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.Footer p{
    color: #333;
    font-size: 14px;
}
.footerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
        

    list-style: none;
    
    

}